* {
    box-sizing: border-box;
  }

.App-header {
    font-size: calc(10px + 2vmin);
    text-align: center;
}

.header-text {
    width: 50%;
    padding: 20px;
    float: left;
    font-weight: bold;
}

.login-button, .signup-button, .cart-button {
    width: auto;
    float: right;
}

.header-div {
    background-image: url( ../assets/pizzaria-pic-edited.jpg);
    height: 50vh;
    background-size: cover;
    background-position: 1%;
}

