* {
    box-sizing: border-box;
  }

.imgContainer {
    max-height: 30vh;
    aspect-ratio: 1;
}

.body-text {
    float: center;
    font-size: large;    
}

.specialty {
    width: auto;
    float: left;
    font-weight: bold;
}

.custom {
    width: 600px;
    float: left;
    font-weight: bold;
}

.store-info {
    width: 1100px;
    float: center;
    font-weight: bold;
}

.store-hours, .store-contact{
    width: 1100px;
    float: center;
}